h1 {
    color: orangered;
    margin-bottom: -5px;
}

p {
    margin-bottom: -5px;
}


.gameCards{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-family: tropical-asian;
    color: rgba(0, 0, 0, 0.657);
    transition-property: all;
    transition-duration: 200ms;
    border-radius: 20px;
    background-color: #f5f5f5;
}
.gameboard {
    display: grid;
    position: relative;
    justify-content: center;
    grid-template-rows: repeat(3, minmax(75px, 100px));
    grid-template-columns: repeat(3, minmax(75px, 100px));
    gap: 12px;
}

.boardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.restart-button {
    box-sizing: border-box; 
    width: 95px; 
    height: 40px; 
    border: 1px solid dodgerblue; 
    margin-left: auto; 
    border-radius: 8px; 
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif; 
  
    background-color: whitesmoke; 
    color: dodgerblue; 
    font-size: 20px; 
    cursor: pointer; 
}

#print {
    font-family: Verdana, 
        Geneva, Tahoma, sans-serif; 
    color: dodgerblue; 
    font-size: 20px; 
}

#main {
    text-align: center;
}

#ins {
    font-family: Verdana, Geneva,
        Tahoma, sans-serif;
    color: dodgerblue;
}